h1, h2{
    color: white;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

button{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 250px;
    height: 200px;
    font-size: 50px;
}
.top    {
    font-size: 40px;
    text-align: center;
}
.button-container{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-around;
}

.score{
    color: white;
    font-size: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scoreLeft{
    text-align: center;
}

.scoreRight{
    text-align: center;
}

.winner{
    color: white;
    font-size: 100px;
}

